body {
  font-family: "Inter", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  background-color: #09090c;
  color: white;
  overflow: hidden;
  cursor: none;
  user-select: none;
  -webkit-user-select: none;
}

#header {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
  justify-content: center;
}

#header h1 {
  margin: 0;
}

#header p {
  margin-bottom: 2.2rem;
  color: #6b7280;
}

.countdown-container {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.countdown-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #212121;
  padding: 14px;
  border-radius: 5px;
}

.countdown-separator {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.countdown-labels {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.countdown-label {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #6b7280;
  font-weight: 600;
}

#wrapper {
  padding: 1rem;
  background-color: #100d1a;
  border-radius: 0.3rem;
  border: 1px solid #6b33ff;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 0.9rem;
  }

  #header h1 {
    font-size: 1.2rem;
  }

  #header p {
    font-size: 0.8rem;
  }

  .countdown-container {
    font-size: 1.5rem;
  }

  #wrapper {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8rem;
  }

  #header h1 {
    font-size: 1rem;
  }

  #header p {
    font-size: 0.7rem;
  }

  .countdown-container {
    font-size: 1.2rem;
  }

  #wrapper {
    padding: 0.3rem;
  }
}

.add-to-calendar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #6b33ff;
  color: white;
  font-weight: 600;
  border-radius: 0.5rem;
  padding: 0.8rem;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
}

.add-to-calendar-button:hover {
  background-color: #5a24c4;
}

#radialGradient {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.text-container {
  position: absolute;
  bottom: 0px;
  right: 20px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 16px;
  opacity: 0.15;
  transition: opacity 0.3s ease;
}

.highlighted {
  color: #8558ff !important;
  text-decoration: none;
}
